.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
nav ul {
  display: flex;
  text-transform: capitalize;
  gap: 50px;
  font-size: larger;
  font-weight: 700;
  li {
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    cursor: pointer;
  }
}
li:hover {
  background-color: rgb(199, 38, 38);
  border-radius: 5px;
  color: white;
  transition: all 1s ease;
}
.active {
  background-color: rgb(199, 38, 38);
  color: white;
  border-radius: 5px;
}
