.page-background {
    background-image: url(../../../assets/background-page.png);
    background-size:contain;
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
}
.show-hide {
    width: 100px;
    height: 45px;
    background-color: gray;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 1s ease;
}
.show-hide:hover {
    background-color: rgb(94, 94, 202);
    transition: all 1s ease;
}
button.active {
    background-color: rgb(94, 94, 202);
}
.addpost {
    margin-top: 20px;
    width: 500px;
    height: 330px;
    background-color:#80d6ff;
    color: white;
    border-radius: 5px;
    padding: 20px 15px;
}
.comment {
    width: 470px;
    height: 63px;
    h4 {
        margin-top: 13px;
    }
    input {
        width: 100%;
        height: 28px;
        border-radius: 5px;
        font-size: large;
        padding-left: 5px;
        margin-top: 4px;
    }
}
input.ng-touched.ng-invalid {
    border: 2px solid rgb(216, 53, 53);
}
.add:enabled {
    margin-top: 15px;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(199, 38, 38);
    color: white;
    cursor: pointer;
    font-size: medium;
    border: none;
    transition: all 1s ease;
}
.add:disabled {
    margin-top: 15px;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: medium;
    border: none;
    transition: all 1s ease-in;
}
table {
    width: 100%;
    height: fit-content;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-top: 25px;
}
th {
    text-align: center;
    color: white;
    background-color: rgb(0, 157, 255);
    padding: 25px 30px;
    width: 33%;
}
td {
  padding: 15px 30px;
  width: 33%;
  cursor: pointer;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
tr:nth-child(odd):hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
tr:nth-child(odd) {
  transition: box-shadow 0.4s ease-in-out;
}
tr:nth-child(even):hover {
    box-shadow: 25px 0px 30px -20px rgba(4, 42, 99, 0.45),-25px 0px 30px -20px rgba(4, 42, 99, 0.45);
    transition: box-shadow 0.4s ease-in-out;
}
tr:nth-child(even) {
    transition: box-shadow 0.4s ease-in-out;
}
.error {
    width: 190px;
    height: 18px;
    p {
        margin-top: 5px;
        color: rgb(199, 38, 38);
        transform: skew(-15deg);
    }
    span {
        font-weight: 1000;
    }
}